!jest.config.js
*.d.ts
node_modules
dist


bin/*.js

.cdk.staging
cdk.out
solution.context.json
resources/s3_trigger/dummy.zip
resources/build_config/*.*
*.tgz
cloudfront-hosting-toolkit/*.*
cloudfront-hosting-toolkit
coverage

.DS_Store
resources/.DS_Store
resources/s3_trigger/.DS_Store

lib/**/*.d.ts
lib/**/*.js

bin/**/*.d.ts
bin/**/*.js

