!jest.config.js
*.d.ts
node_modules
dist


bin/*.js

.cdk.staging
cdk.out
solution.context.json
resources/s3_trigger/dummy.zip
resources/build_config/*.*
*.tgz
cloudfront-hosting-toolkit/*.*
cloudfront-hosting-toolkit
coverage

.DS_Store
resources/.DS_Store
resources/s3_trigger/.DS_Store

lib/**/*.d.ts
lib/**/*.js

bin/**/*.d.ts
bin/**/*.js

lambda/delete_old_deployments/*.d.ts
lambda/delete_old_deployments/*.js

lambda/new_build/*.d.ts
lambda/new_build/*.js

lambda/update_kvs/*.d.ts
lambda/update_kvs/*.js